# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# Get these from https://my.telegram.org/
API_ID = "YOUR API ID"
API_HASH = "YOUR API HASH"

# Get this value by running python3 string_session.py locally in replit
STRING_SESSION = ""

# ChatID for the Log group
# Add a Hypen or a Negative Sign before ID
# This is a integer, Please don't use Strings
BOTLOG_CHATID = ""

# PM Auto-Ban Feature Switch
PM_AUTO_BAN = False

# Custom Default name for .alive
ALIVE_NAME = None

# Your Database URL
# Example: 'postgres://userbot:userbot@localhost:5432/userbot'
DATABASE_URL = ""

# Heroku host
HEROKU_API_KEY = ""
HEROKU_APP_NAME = ""
